{% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Stage ET2S - Home</title>

    <!-- Bootstrap -->
    <link href="{{asset('vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{asset('vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{asset('vendors/nprogress/nprogress.css')}}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{asset('vendors/iCheck/skins/flat/green.css')}}" rel="stylesheet">
    <!-- Datatables -->
    <link href="{{asset('vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
    <!-- Chart.js -->
    {#<script src="{{asset('vendors/Chart.js/dist/Chart.min.js')}}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js" integrity="sha512-5vwN8yor2fFT9pgPS9p9R7AszYaNn0LkQElTXIsZFCL7ucT8zDCAqlQXDdaqgA1mZP47hdvztBMsIoFxq/FyyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    

    <!-- Custom Theme Style -->
    <link href="{{asset('build/css/custom.min.css')}}" rel="stylesheet">
  </head>

  <style>
    .chart-container{
      font-size: 1ex;
    }
  </style>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
            <img src="{{asset('production/images/et2s.png')}}" width=90% alt="">
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            {#{% include 'profilequickinfo.html.twig' %}#}
            <!-- /menu profile quick info -->

            <br/><br/>

            <!-- sidebar menu -->
            {% include 'sidebar.html.twig' %}
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        {% include 'topnavigation.html.twig' %}
        <!-- /top navigation -->

        <!-- page content -->
        
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Home <small> Dashboard</small></h3>
              </div>
            </div>

            <div class="clearfix"></div>
            
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Graph<small>Step success rate</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="chart-container">
                      {% if Onlyprods != null %}
                      <canvas id="success"></canvas>
                      {% else %}
                      <h1>No data to show</h1>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Graph<small>Step failure rate</small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                      </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="chart-container">
                      {% if Onlyprods != null %}
                      <canvas id="failure"></canvas>
                      {% else %}
                      <h1>No data to show</h1>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  {% for product in Onlyprods %}
                    <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>Product ID</th>
                          <th style="width: 50%;">{{ product.prodId }}<i><a class="fa fa-bar-chart-o pull-right btn btn-success" href="{{ path('home_showproductstats', {'prodId': product.prodId}) }}"> Show product stats</a></i></th>
                          <th>Total OK</th>
                          <th>Total NOK</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for prodhistory in Products %}
                          {% if prodhistory.prodId == product.prodId %}
                            <tr>
                              <td><b>Step ID</b></td>
                              <td>{{ prodhistory.stepid }}</td>
                              <td>{{ prodhistory.total_ok }}</td>
                              <td>{{ prodhistory.total_nok }}</td>
                            </tr>
                          {% endif %}
                          {% else %}
                            <tr>
                              <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        {% include 'footercontent.html.twig' %}
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{{asset('vendors/jquery/dist/jquery.min.js')}}"></script>
    <!-- Bootstrap -->
    <script src="{{asset('vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{asset('vendors/fastclick/lib/fastclick.js')}}"></script>
    <!-- NProgress -->
    <script src="{{asset('vendors/nprogress/nprogress.js')}}"></script>
    <!-- iCheck -->
    <script src="{{asset('vendors/iCheck/icheck.min.js')}}"></script>
    <!-- Datatables -->
    <script src="{{asset('vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{asset('vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
    <script src="{{asset('vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
    <script src="{{asset('vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
    <script src="{{asset('vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
    <script src="{{asset('vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
    <script src="{{asset('vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
    <script src="{{asset('vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{asset('vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
    <script src="{{asset('vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
    <script src="{{asset('vendors/jszip/dist/jszip.min.js')}}"></script>
    <script src="{{asset('vendors/pdfmake/build/pdfmake.min.js')}}"></script>
    <script src="{{asset('vendors/pdfmake/build/vfs_fonts.js')}}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{asset('build/js/custom.js')}}"></script>

  </body>
</html>
{% endblock %}
{% block javascript %}
<script>
//success chart start
var ctx = document.getElementById('success');
var data = {
	labels: {{ stepslist|raw }},
	datasets: [{
    label: '',
		data: {{ total_ok|raw }},
		backgroundColor: {{ colorlist|raw }}
	}]
};
var canvasDoughnut = new Chart(ctx, {
	type: 'bar',
	tooltipFillColor: "rgba(51, 51, 51, 0.55)",
	data: data,
  options: {
        scales: {
            y: {
                ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, values) {
                        return '%' + value;
                    }
                }
            }
        }
    }
});
//success chart end

//failure chart start
var ctx = document.getElementById('failure');
var data = {
	labels: {{ stepslist|raw }},
	datasets: [{
    label: '',
		data: {{ total_nok|raw }},
		backgroundColor: {{ colorlist|raw }}
	}]
};
var canvasDoughnut = new Chart(ctx, {
	type: 'bar',
  options: { legend: { display: false }},
	data: data,
  options: {
        scales: {
            y: {
                ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, values) {
                        return '%' + value;
                    }
                }
            }
        }
    }
});
//failure chart end
</script>
{% endblock %}