<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a href="{{ path('home') }}"><i class="fa fa-home"></i> Home </a></li>
      {% if app.user.roles[0]=="ROLE_ADMIN" %}
        <li><a href="{{ path('user_index') }}"><i class="fa fa-edit"></i> Users</a></li>
      {% endif %}
      <li><a href="{{ path('product_index') }}"><i class="fa fa-laptop"></i> Products</span></a></li> 
      <li><a href="{{ path('prod_steps_index') }}"><i class="fa fa-clone"></i> Product Steps</span></a></li>
      <li><a href="{{ path('prod_history_new') }}"><i class="fa fa-sitemap"></i> Quality Check</a></li>
      <li><a href="{{ path('prod_history_index') }}"><i class="fa fa-history"></i> Product History</a></li>
    </ul>
  </div>
</div>