<div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              {% if app.user %}
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{{asset('production/images/user.png')}}" alt="">{{ app.user.prenom }} {{ app.user.nom }}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{{ path('user_edit', {'id': app.user.id}) }}"><i class="fa fa-cog pull-right"></i> Change account info</a></li>
                    <li><a href="{{ path('user_changepass', {'id': app.user.id}) }}"><i class="fa fa-cogs pull-right"></i> Change Password</a></li>
                    <li><a href="{{ path('app_logout') }}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>